<br>
<a [routerLink]="['/']">Go to first component</a>


<sm-tabs>
    <sm-tab *ngFor="let a of [{title: 'Hello', active: false}, {title: 'About', active: true}]"
    [title]="a.title" [active]="a.active" >{{a.title}} | additional text.
    </sm-tab>
</sm-tabs>


<button class="ui button primary" (click)="myModalNormal.show({inverted: true, onShow: modalCallback})">Click me</button>
<sm-modal title="Hello from Modal" class="" icon="home" #myModalNormal>
    <modal-content>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </modal-content>
    <modal-actions>
        <div class="ui buttons">
            <div class="ui button primary" (click)="myModalNormal.hide()">Close modal</div>
        </div>
    </modal-actions>
</sm-modal>

