
// Color variations from google
@import "colors";

.ui.menu:not(.vertical) .item > .ui.button.logo {
  font-size: 3rem;
  font-weight: 200;
  margin-right: 0.5rem;
  padding: 2px 6px;
}

.ui.buttons.socials {
  .ui.button {
    background: rgba(33, 150, 243, 0.11);
    &:hover {
      background: rgba(33, 150, 243, 0.19);
    }
    padding-bottom: 0.6rem;
    .icon {
      font-size: 1.35rem;
      margin: 0 !important;
    }
  }
}
